extends layout

block content
    .container
        #login_view
            h1 Change Password
            p #{error}
            form(action="/changed_password" method='post')
                .login_container
                    label(for='old_password')
                        b Old Password
                    input#old_password(type='password' required='' name='old_password')
                    label(for='new_password')
                        b New Password
                    input#new_password(type='password' required='' name='new_password')
                    label(for='confirm_password')
                        b Confirm Password
                    input#confirm_password(type='password' required='' name='confirm_password')
                    a(href="/" class='button capitalize') cancel
                    input(type="submit" class='button capitalize' value="Change Password")
